<main class="main">
  <div class="intro-slider-container">
    <div class="intro-slider owl-carousel owl-theme owl-nav-inside owl-light" data-toggle="owl" data-owl-options='{
                "dots": false,
                "nav": false, 
                "responsive": {
                    "992": {
                        "nav": true
                    }
                }
            }'>
      <div class="intro-slide" style="background-image: url(assets/images/banners/homecam1.webp);">
        <div class="container intro-content text-center">
          <h3 class="intro-subtitle text-white">You're Looking Good</h3><!-- End .h3 intro-subtitle -->
          <h1 class="intro-title text-white">New LookFrame</h1><!-- End .intro-title -->

          <a href="category.html" class="btn btn-outline-white-4">
            <span>Discover More</span>
          </a>
        </div><!-- End .intro-content -->
      </div><!-- End .intro-slide -->

      <div class="intro-slide" style="background-image: url(assets/images/banners/homecam2.webp);">
        <div class="container intro-content text-center">
          <h3 class="intro-subtitle text-white">Don’t Miss</h3><!-- End .h3 intro-subtitle -->
          <h1 class="intro-title text-white">The Eye Catching</h1><!-- End .intro-title -->

          <a href="category.html" class="btn btn-outline-white-4">
            <span>Discover More</span>
          </a>
        </div><!-- End .intro-content -->
      </div><!-- End .intro-slide -->
    </div><!-- End .intro-slider owl-carousel owl-theme -->

    <span class="slider-loader"></span><!-- End .slider-loader -->
  </div><!-- End .intro-slider-container -->

  <div class="pt-2 pb-3">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="banner banner-overlay">
            <a href="#">
              <img src="assets/images/banners/dslr1.jpg" alt="Banner">
            </a>

            <div class="banner-content banner-content-center">
              <h4 class="banner-subtitle text-white"><a href="#">New in</a></h4><!-- End .banner-subtitle -->
              <h3 class="banner-title text-white"><a href="#"><strong>Mirror</strong></h3><!-- End .banner-title -->
              <a href="#" class="btn btn-outline-white banner-link underline">Shop Now</a>
            </div><!-- End .banner-content -->
          </div><!-- End .banner -->
        </div><!-- End .col-sm-6 -->

        <div class="col-sm-6">
          <div class="banner banner-overlay">
            <a href="#">
              <img src="assets/images/banners/mirrorless1.jpg" alt="Banner">
            </a>

            <div class="banner-content banner-content-center">
              <h4 class="banner-subtitle text-white"><a href="#">New in</a></h4><!-- End .banner-subtitle -->
              <h3 class="banner-title text-white"><a href="#"><strong>Mirrorless</strong></a></h3><!-- End .banner-title -->
              <a href="#" class="btn btn-outline-white banner-link underline">Shop Now</a>
            </div><!-- End .banner-content -->
          </div><!-- End .banner -->
        </div><!-- End .col-sm-6 -->
      </div><!-- End .row -->
      <hr class="mt-0 mb-0">
    </div><!-- End .container -->
  </div><!-- End .bg-gray -->


  <section class="container">
    <div class="container brands pt-5 pt-lg-7 pb-3 mb-5">

      <h2 class="title text-center mb-4">shop by Category</h2><!-- End .title text-center -->

      <div class="owl-carousel owl-simple" data-toggle="owl" data-owl-options='{
                    "nav": false, 
                    "dots": false,
                    "margin": 30,
                    "loop": false,
                    "responsive": {
                        "0": {
                            "items":2
                        },
                        "420": {
                            "items":3
                        },
                        "600": {
                            "items":4
                        },
                        "900": {
                            "items":5
                        },
                        "1024": {
                            "items":6
                        }
                    }
                }'>
        <% categories.forEach(category => { %>
         
            <a href="#" class="brand card">
              <img src="uploads/category-images/crp/<%- category.image.filename %>" alt="<%- category.name %>">
              <p class="lead text-capitalize"><%- category.name %></p>
            </a>
        <% }) %>        

        
      </div><!-- End .owl-carousel -->
    </div><!-- End .container -->

  </section>

  <section class="container">
    <div class="bg-lighter pt-6">
      <div class="container">
          <div class="heading heading-flex mb-3">
              <div class="heading-left">
                  <h2 class="title">Trending Now</h2><!-- End .title -->
              </div><!-- End .heading-left -->
          </div><!-- End .heading -->

          <div class="tab-content tab-content-carousel">
              <div class="tab-pane p-0 fade show active" id="trending-women-tab" role="tabpanel" aria-labelledby="trending-women-link">
                  <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                      data-owl-options='{
                          "nav": false, 
                          "dots": true,
                          "margin": 20,
                          "loop": false,
                          "responsive": {
                              "0": {
                                  "items":2
                              },
                              "480": {
                                  "items":2
                              },
                              "768": {
                                  "items":3
                              },
                              "992": {
                                  "items":4
                              },
                              "1200": {
                                  "items":4,
                                  "dots": false
                              }
                          }
                      }'>
                      <% products?.forEach(product => { %>
                       
                        <div class="product product-7 text-center">
                            <figure class="product-media">
                                <a href="product.html">
                                    <img src="uploads/product-images/crp/<%- product.images[0] %>" alt="Product image" class="product-image">
                                </a>
  
                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                    <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                </div><!-- End .product-action-vertical -->
  
                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->
  
                            <div class="product-body">
                                <h3 class="product-title"><a href="product.html"><%= product.productName %></a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    Rs.<%= product.regularPrice %>
                                </div><!-- End .product-price -->
  
                                <div class="ratings-container">
                                    <div class="ratings">
                                        <div class="ratings-val" style="width: 100%;"></div><!-- End .ratings-val -->
                                    </div><!-- End .ratings -->
                                    <span class="ratings-text">( 6 Reviews )</span>
                                </div><!-- End .rating-container -->
  
                               
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->
                      <% }) %>
                  </div><!-- End .owl-carousel -->
              </div><!-- .End .tab-pane -->
              <div class="tab-pane p-0 fade" id="trending-men-tab" role="tabpanel" aria-labelledby="trending-men-link">
                  <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                      data-owl-options='{
                          "nav": false, 
                          "dots": true,
                          "margin": 20,
                          "loop": false,
                          "responsive": {
                              "0": {
                                  "items":2
                              },
                              "480": {
                                  "items":2
                              },
                              "768": {
                                  "items":3
                              },
                              "992": {
                                  "items":4
                              },
                              "1200": {
                                  "items":4,
                                  "dots": false
                              }
                          }
                      }'>
                      
                  </div><!-- End .owl-carousel -->
              </div><!-- .End .tab-pane -->
          </div><!-- End .tab-content -->
      </div><!-- End .container -->
  </div>
  </section>
</main><!-- End .main -->
